.hero{
    background-image: url(../../images/index_hero.JPG);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.hero__logo{
    align-self: center;
    margin-top: 100px;
    height: 150px;
    width: 150px;
}