<footer class="footer">
    <section class="footer__textarea">
        <div class="footer__address">
            <p class="p">HiFi Corner<br>
                Edinburgh 2 Joppa Road EH15 2EU<br>
                Falkirk 44 Cow Wynd FK1 1PU
            </p>
        </div>
        <div class="footer__returns">
            <a class="footer__returns_link" href="https://www.hificorner.co.uk/returns">Returns & Refunds</a>
            |
            <a class="footer__returns_link" href="https://www.hificorner.co.uk/privacy-policy">Privacy Policy</a>
        </div>
    </section>
    <section class="footer__textarea">
        <img src="assets/images/logos/pay_logos.png" alt="payment_logos" class="footer__payment">

        <div class="footer__social">
            <a href="https://da-dk.facebook.com/" target="_blank"><img src="assets/images/logos/footer-facebook.png"
                    class="footer__social_icons" alt="Facebook"></a>
            <a href="https://youtube.com/" target="_blank"><img src="assets/images/logos/footer-youtube.png"
                    class="footer__social_icons" alt="Youtube"></a>
            <a href="https://twitter.com/" target="_blank"><img src="assets/images/logos/footer-twitter.png"
                    class="footer__social_icons" alt="Twitter"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="assets/images/logos/footer-linkedin.png"
                    class="footer__social_icons" alt="Instagram"></a>
        </div>
    </section>
</footer>