<nav class="navigation">
    <ul>
        <li><a href="#">Link a</a></li>
        <li><a href="#">Link b</a></li>
        <li><a href="#">Link c</a></li>
        <li><a href="#">Link d</a></li>
        <li><a href="#">Link e</a></li>
    </ul>
</nav>