.manufacturer__aside_right-title {
    font-size: 12px;
    margin-top: 2.6em;
}

.manufacturer__aside_right {
    grid-area: 1 / 5 / 6 / 6;
    padding:0.2em 5em 1em 0;
    font-size: 12px;
    color: var(--main-brand-brown);
}

.shopkategorier__aside_left { 
    grid-area: 1 / 1 / 6 / 2;    
    padding:0.8em 1em 1em 1.3em;
    font-size: var(--txt-standard);
    max-width: 285px;
}

.shopkategorier__aside_left-1 {         
    
    padding: 1em 0em 1em 2em;
    font-size: var(--txt-standard);
    background-color: var(--second-brand-grey);        
}

.shopkategorier__aside_left-2 {         
    margin-top:1em;
    padding: 1em 6em 1em 2em;
    font-size: var(--txt-standard);
    background-color: var(--second-brand-grey);               
}