.header__trans{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, 0.704);
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mini-logo{
    position: absolute;
    height: 45px;
    width: 45px;
    margin: 5px;
    cursor: pointer;
}


