    .shopkategorier__links, .shopkategorier__links_sorter, .shopkategorier__links_sorterurl,
    .shopkategorier__links_manufacturer, .shopkategorier__links_url{
        text-decoration:none;
        list-style-type:none;
        color: var(--main-brand-brown);
        line-height: 1.5em;
        text-align: left;
    }

    .currentpage-titel {
        margin-top: 1.7em;
        margin-bottom: 0.5em;
        font-size: 18px;
    }

    .shopoverskriftside{
        padding: 1em 1em 0em 0em;
        font-size:13px;
        text-align:left;
        color: var(--main-brand-brown);
    }

    .shopoverskriftside__sub{
        padding: 1em 1em 0.3em 0em;
        font-size: var(--txt-standard);
        text-align: left;
    }

    .shopoverskriftside__sub_top{
        padding: 0em 1em 0.3em 0em;
        font-size: var(--txt-standard);
        text-align:left;
    }
    
    .shopkategorier__varer {
        margin-bottom: 2em;
    }

    .product__text {
        font-size: var(--txt-standard);
        text-align: center;
        margin-bottom: 1em;
    }


    .price-boxes {
        display:flex;
        justify-content: space-evenly;
    }

    .product__price{    
        text-align: left;
        margin: 0em 0 1em 0; 
        color: var(--main-brand-brown);
        font-size: 1.2em;
        font-weight: 500;
    }

    .product__pricesale{
        text-align: right;
        margin: 0em 0 1em 0; 
        color: var(--main-brand-brown);
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: line-through;
    }

    .putinbasket{
        display:block;
        text-align: center;
        margin: 0 auto;
        text-decoration: none;
    }  

    .manufacturer__links_url, .manufacturer__links{
        text-decoration:none;
        list-style-type:none;
        color: var(--black);
        line-height: 1.5em;
        text-align: left;
        font-size: 12px;
    }