.shop__kategorier_sorterBarTop {
    grid-area: 1 / 2 / 2 / 5;
    font-size: 12px;
    margin-bottom: 1em;
    padding-left: 0.5em;
    width: 790px;
}

.shop__kategorier_sorter-bottom {
    font-size: 12px;
    margin-bottom: 1em;
    padding-right:0;
    width: 785px;    
    margin-left: 35.6em;
    margin-top: -4.9em;
}

.shop__kategorier_sorter, .shop__kategorier_sorterAntal {
    display: flex;        
    background-color:var(--second-brand-grey);
    padding: 1em 1em 1em 0em;               
}

label{
    padding-left:1em;
    padding-right:1em;        
}

.fa-bars{
    margin-right: auto;
    color: grey;
}

.fa-microsoft{
    margin-right: 0.5em;
}

.view-as-icon{
    margin:0 auto;
    margin-right: 0.3em;    
}