@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 100;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded100.woff') format('woff');
}
@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 300;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded300.woff') format('woff');
}
@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 500;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded500.woff') format('woff');
}
@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 700;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded700.woff') format('woff');
}
@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 900;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded900.woff') format('woff');
}
@font-face {
font-family: 'Museo Sans Rounded';
font-style: normal;
font-weight: 1000;
src: local('Museo Sans Rounded'), url('../fonts/museo-sans-rounded-webfont/MuseoSansRounded1000.woff') format('woff');
}

/* fælles variabler skrives her under */

:root {
  --black: #000;
  --white: #fff;
  --main-brand-brown: #a39161;
  --second-brand-grey:#e6e6e6;
  --mainborder-color-black:#000;
  --star: red;
      
  --content-max-width: 1300px;

  --txt-large: 3em;
  --txt-medium: 2em;
  --txt-standard: 1em;
  --txt-small: 0.5em;
}

/* ---------------------------------------------------------------------------- */

* {
    font-family: Museo Sans Rounded, Arial, Helvetica, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
